*{
    padding: 0%;
    margin: 0%;
}

body{
    margin-top: 50px;
    padding: 70px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
}
.submit{
    width: 200px;
    height: 50px;
    border: white solid 2px;
    text-decoration: none;
    margin-left: 900px;
    color: white;
    background-color: black;
    font-size: 20pt;
}

p{
    font-size: 20pt;
    font-weight: bold;
}

